<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" fileEncoding="utf-8" />
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp"
                extension=".cs"
                compilerOptions="/d:TRACE"
                type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.3500.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="1" />
    </compilers>
  </system.codedom>
  
  <system.diagnostics>
    <switches>
      <add name="WebSvcTraceSwitch" value="2" />
      <!-- Set to 0, 1, 2, 3, or 4, which corresponds 
      to TraceLevel.Off, TraceLevel.Error, TraceLevel.Warning
      TraceLevel.Info, and TraceLevel.Verbose. -->
    </switches>
  </system.diagnostics>
  
</configuration>
